// Import Compass: http://compass-style.org
@import "compass";

// Import additional mixins
@import "mixins";

// Reset
@import "normalize";
* {
  @include box-sizing(border-box);
}

// Set universal variables
@import "variables";

// Import fonts
@import "fontface";


body {
  background: #ddd;
  color: #ddd;
}
a,
a:link,
a:visited,
a:-webkit-any-link {
  color: #ddd;
  text-decoration: none;
  font-size: 200px;
}  
h2 {
  text-align: center;
  margin-top: 100px;
  margin-top: 30vh;
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 200px;
  color: #ddd;
  a {
    color: #ddd;
    text-decoration: none;
    font-size: 200px;
    @include text-shadow (0px 0px 80px #fff);
    @include transition (color 10s ease-in);
    &:hover {
      color: #aaa;
      @include transition (color 3s ease-in);
    }
  }
}

