// Import Compass: http://compass-style.org
@import "compass";

// Import additional mixins
@import "mixins";

// Reset
@import "normalize";
* {
  @include box-sizing(border-box);
}

// Set universal variables
@import "variables";

// Import fonts
@import "fontface";
@import "typography";

// Import Animation Definitions
@import "animations";


// ---------------- Universal -----------------------------------------

html {
  background: #000;
  @include background-image (radial-gradient(farthest-side at 53% 58%, #272F3C 0%, #000 100%));
}
body {
  perspective: 1000;
  transform-style: preserve-3d;
}
a, a:link, a:visited {
  text-decoration: none;
}


// ---------------- Action -----------------------------------------

/*
.flip {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition-property: -webkit-transform;
  transition-duration: 3s;
  transition-timing-function: linear;
  
  -webkit-transform: scale(0.4);  
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 1s;
}
*/
/* Flipping spinning backwards
.flip {
  -webkit-animation: 1s ease-in-out 0s normal none 1 shrinkback;
  animation: 1s ease-in-out 0s normal none 1 shrinkback;
  .fliplink {
    display: none;
  }
  transform-style: preserve-3d;
  
  transform: scale(0.4);  
  transition-property: -webkit-transform;
  transition-duration: 0;
  transition-timing-function: linear;
  transition-delay: 1s;
  
  -webkit-transform: scale(0.4);  
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 1s;
}
*/

// ---------------- Breath -----------------------------------------

#breath {
  header {
    background: #d8ecf3 url('../../03/sky.jpg') center center;
    @include background-size (cover);
    height: 100vh;
    padding:  50vh 0;  
    div {
      -webkit-animation: 6000ms linear 0s normal none infinite breath;
              animation: 6000ms linear 0s normal none infinite breath;
    }
//    backface-visibility: hidden;
  }
  h1 {
    margin: 0;
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    line-height: 0;
    a, a:link, a:visited, a:focus {
      color: rgba(255,255,255,0.9);
    }
    font-size: 20vw;
    @media (min-width: 40em) { 
      font-size: 12vw;
    }      
  }
  div.text {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcf9f1;
    min-height: 50vh;
    .body {
      @include clearfix;
      div {
        width: 90%;
        margin: 2em auto;
        @media (min-width: 25em) { 
          width: 80%;
          margin: 2.5em auto;
        }
        @media (min-width: 40em) { 
          width: 45%;
          margin: 3em auto;
        }
      }
    }
    a.fliplink {
      text-align: center;
      display: block;
      font-size: 200%;
      font-style: italic;
      margin-top: 1em; 
    }
    .flip .fliplink {
//      display: none;
    }
  
  }
  article {
  	@include perspective(600px);
  	
  	header {
      @include transform (rotateY(0deg));
      @include transform-style (preserve-3d);
    	-webkit-backface-visibility: hidden; // I didn't write this using Compass syntax
    	   -moz-backface-visibility: hidden; // because it doesn't work
    	    -ms-backface-visibility: hidden;
    	     -o-backface-visibility: hidden;
    	        backface-visibility: hidden;
      @include transition (all 0.6s ease-in-out);
    }
    div.text {
      @include transform (rotateY(180deg));
      @include transform-style (preserve-3d);
    	-webkit-backface-visibility: hidden; // I didn't write this using Compass syntax
    	   -moz-backface-visibility: hidden; // because it doesn't work
    	    -ms-backface-visibility: hidden;
    	     -o-backface-visibility: hidden;
    	        backface-visibility: hidden;  
      @include transition (all .6s ease-in-out);
      z-index: -100;
    }
  }
  article.flip {
    header {
      @include transform (rotateY(-180deg));
    }
    div.text {
      @include transform (rotateY(0deg));
    }
  }

}



// ---------------- Presence -----------------------------------------

#presence {
  display: none;
}


// ---------------- Navigation -----------------------------------------

nav {
  display: none;
}


// ----------------  -----------------------------------------

/*
.flipbutton a {
  display: none;
  position: absolute;
  top: 51vh;
  right: 2vh;
  height:8vh;
  width:8vh;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius:5vh;
  transition:all 0.4s ease-in-out;
  span:first-child {
    position: absolute;
    top: .75vh;
    right: .75vh;
    background: rgba(255, 255, 255,0.8);
    height: 6vh;
    width: 6vh;
    @include border-radius (6vh);
    transition:all 0.4s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255,0.5);
      transform:rotateX(180deg);
      transform:rotateY(180deg);
      transition:all 0.4s ease-in-out;
      perspective: 800px;
      perspective-origin: 50% 100px;
    }
  }
}
.flipbutton a {
  display: relative;
  position: absolute;
  top: 52.5vh;
  right: 2vh;
  background: rgba(0,0,0,0.5);
  height:5vh;
  width:5vh;
  border-radius:5vh;
  transition:all 0.4s ease-in-out;
  &:hover {
  background: rgba(255, 255, 255,0.5);
    transform:rotateX(180deg);
    transform:rotateY(180deg);
    transition:all 0.4s ease-in-out;
    perspective: 800px;
    perspective-origin: 50% 100px;
  }
  &:active {
    
  }
  span:first-child {
  position: absolute;
  top: 0.75vh;
  right: 0.75vh;
  background: rgba(255, 255, 255,0.8);
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 2.5vh;
  }
} */
