@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\0000322}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\0000332}}
audio,
canvas,
video {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\0000343}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\0000354}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\0000369}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\0000384}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\0000392}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003104}}
a:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003113}}
a:active,
a:hover {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003127}}
Typography
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003132}}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003137}}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003142}}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003147}}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003152}}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003161}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003170}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003174}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003182}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003190}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003200}}
p,
pre {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003211}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003221}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003231}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003240}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003249}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003258}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003265}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003269}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003284}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003288}}
dd {
  margin: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003298}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003307}}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003321}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003330}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003342}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003354}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003362}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003374}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003391}}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003404}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003421}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003432}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003444}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003457}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003470}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003479}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003489}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_normalize\.scss}line{font-family:\00003502}}
Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\000039}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000361}}
* html {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000364}}
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* =============================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000311}}
body {
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  color: #1b1d1e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000316}}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: 500;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000320}}
h1 {
  font-size: 2em;
  line-height: 1.625em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000323}}
h1 + h1 {
  margin-top: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000326}}
h2 {
  font-size: 1.85em;
  line-height: 1.75676em;
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.05405em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000332}}
h3 {
  font-size: 1.3em;
  line-height: 1.25em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  line-height: 1.05405em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000338}}
h4 {
  font-size: 1.2em;
  line-height: 1.35417em;
  margin-top: 0em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000343}}
h5 {
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 0em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000348}}
h6 {
  font-size: 0.83em;
  line-height: 1.95783em;
  margin-top: 0em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000354}}
p {
  margin: 0.65em 0;
  text-indent: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000357}}
p.noindent, p.caption p {
  text-indent: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000360}}
p.caption {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000362}}
.lightbox p.caption {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000370}}
a,
a:link,
a:visited {
  color: #4b78cc;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000374}}
a:hover, a:focus,
a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus {
  color: #7396d7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000378}}
a.section-anchor {
  display: block;
  padding-top: 55px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000383}}
::-moz-selection {
  background: #ffee98;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000387}}
::selection {
  background: #ffee98;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000392}}
img {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\0000395}}
figcaption {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.875em;
  line-height: 1.85714em;
  color: #4b5154;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003101}}
blockquote {
  margin: 0.8125em 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003104}}
cite {
  margin: 0.8125em 24px;
  font-size: 0.75em;
  line-height: 2.16667em;
  color: #636b6f;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003111}}
canvas {
  background: #fff;
  margin: 1.625em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003116}}
pre {
  margin: 0.5em 0 1em 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003119}}
.static-code-container {
  font-size: 0.8125em;
  line-height: 2em;
  line-height: 1em;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003127}}
code,
kbd,
samp {
  margin: 1.625em 0;
  font-size: 0.8125em;
  line-height: 2em;
  line-height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003137}}
dl,
menu,
ol,
ul,
.item-list ul {
  margin: 0.8em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003140}}
ul {
  padding-left: 38.4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003143}}
ol {
  padding-left: 45.6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/_typography\.scss}line{font-family:\00003147}}
hr {
  height: 1px;
  border: 0;
  border-bottom: 1px solid #555;
  padding-bottom: -1px;
  margin: 1.625em 0;
}

@keyframes breath {
  /* line 4, ../sass/_animations.scss */
  0% {
    transform: scale(1);
  }

  /* line 5, ../sass/_animations.scss */
  40% {
    transform: scale(1.05);
  }

  /* line 6, ../sass/_animations.scss */
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes breath {
  /* line 9, ../sass/_animations.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 10, ../sass/_animations.scss */
  40% {
    -webkit-transform: scale(1.05);
  }

  /* line 11, ../sass/_animations.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

/*
@keyframes spinX {
  50%   {transform: rotateX(180deg)}
  100%  {transform: rotateX(0deg)}
}
@-webkit-keyframes spinX {
  50%   {-webkit-transform: rotateX(180deg)}
  100%  {-webkit-transform: rotateX(0deg)}
}


@keyframes shrink {
  100%  {transform: scale(0.5)}
}
@-webkit-keyframes shrink {
  100%  {-webkit-transform: scale(0.5)}
}


@keyframes shrinkback {
  0%    {transform: rotateX(0deg) scale(1)}
  25%   {transform: rotateX(180deg) scale(0.85)}
  50%   {transform: rotateX(0deg) scale(0.7)}
  75%   {transform: rotateX(180deg) scale(0.55)}
  100%  {transform: rotateX(0deg) scale(0.4)}
}
@-webkit-keyframes shrinkback {
  0%    {-webkit-transform: rotateX(0deg) scale(1)}
  25%   {-webkit-transform: rotateX(180deg) scale(0.85)}
  50%   {-webkit-transform: rotateX(0deg) scale(0.7)}
  75%   {-webkit-transform: rotateX(180deg) scale(0.55)}
  100%  {-webkit-transform: rotateX(0deg) scale(0.4)}
}
*/
/*
.flip {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition-property: -webkit-transform;
  transition-duration: 3s;
  transition-timing-function: linear;
  
  -webkit-transform: scale(0.4);  
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 1s;
}
*/
/* Flipping spinning backwards
.flip {
  -webkit-animation: 1s ease-in-out 0s normal none 1 shrinkback;
  animation: 1s ease-in-out 0s normal none 1 shrinkback;
  .fliplink {
    display: none;
  }
  transform-style: preserve-3d;
  
  transform: scale(0.4);  
  transition-property: -webkit-transform;
  transition-duration: 0;
  transition-timing-function: linear;
  transition-delay: 1s;
  
  -webkit-transform: scale(0.4);  
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 1s;
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000326}}
html {
  background: #000;
  background-image: -webkit-gradient(radial, ellipse at 70% 65%, 0, ellipse at 70% 65%, 100, color-stop(0%, #272f3c), color-stop(50%, #212730), color-stop(100%, #000000));
  background-image: -webkit-radial-gradient(ellipse at 70% 65%, #272f3c 0%, #212730 50%, #000000 100%);
  background-image: -moz-radial-gradient(ellipse at 70% 65%, #272f3c 0%, #212730 50%, #000000 100%);
  background-image: -o-radial-gradient(ellipse at 70% 65%, #272f3c 0%, #212730 50%, #000000 100%);
  background-image: radial-gradient(ellipse at 70% 65%, #272f3c 0%, #212730 50%, #000000 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000332}}
body {
  perspective: 1000;
  transform-style: preserve-3d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000336}}
a, a:link, a:visited {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000345}}
.breath {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000348}}
.breath header {
  background: #d8ecf3 url("../../03/sky.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  padding: 50vh 0;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000353}}
.breath header div {
  -webkit-animation: 6000ms linear 0s normal none infinite breath;
  animation: 6000ms linear 0s normal none infinite breath;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000366}}
.breath h1 {
  margin: 0;
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 0;
  font-size: 20vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000373}}
.breath h1 a, .breath h1 a:link, .breath h1 a:visited, .breath h1 a:focus {
  color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000366}}
  .breath h1 {
    font-size: 12vw;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000381}}
.breath div.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #fcf9f1 url("../images/backgrounds/dust.jpg") center center;
  overflow: hidden;
  *zoom: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000389}}
.breath div.text div {
  width: 90%;
  margin: 2em auto;
}
@media (min-width: 25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000389}}
  .breath div.text div {
    width: 80%;
    margin: 2.5em auto;
  }
}
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\0000389}}
  .breath div.text div {
    width: 45%;
    margin: 3em auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003101}}
.breath div.text a.fliplinktwo {
  color: rgba(85, 80, 48, 0.4);
  display: block;
  font-family: 'Trebuchet MS', Helvetica, san-serif;
  font-size: 180%;
  margin-top: 1.4em;
  text-align: center;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003110}}
.breath div.text a.fliplinktwo:hover {
  color: rgba(85, 80, 48, 0.6);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003125}}
.flipone article.breath header {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003127}}
.flipone article.breath header div {
  -webkit-animation: none;
  animation: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003132}}
.flipone article.breath div.text {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003138}}
.fliptwo
.breath {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003145}}
.meditation {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003148}}
.fliptwo .meditate {
  display: block;
  background: blue;
  min-height: 100vh;
  padding: 2em;
  background: #d8ecf3 url("../../03/mountainlake.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 120%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003159}}
.fliptwo .meditate p {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003167}}
.presence {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003173}}
.absence {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003179}}
.galaxy {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/Google\%20Chrome\%20Experiment\/animation\/assets\/sass\/three\.scss}line{font-family:\00003185}}
nav {
  display: none;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/*
.flipbutton a {
  display: none;
  position: absolute;
  top: 51vh;
  right: 2vh;
  height:8vh;
  width:8vh;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius:5vh;
  transition:all 0.4s ease-in-out;
  span:first-child {
    position: absolute;
    top: .75vh;
    right: .75vh;
    background: rgba(255, 255, 255,0.8);
    height: 6vh;
    width: 6vh;
    @include border-radius (6vh);
    transition:all 0.4s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255,0.5);
      transform:rotateX(180deg);
      transform:rotateY(180deg);
      transition:all 0.4s ease-in-out;
      perspective: 800px;
      perspective-origin: 50% 100px;
    }
  }
}
.flipbutton a {
  display: relative;
  position: absolute;
  top: 52.5vh;
  right: 2vh;
  background: rgba(0,0,0,0.5);
  height:5vh;
  width:5vh;
  border-radius:5vh;
  transition:all 0.4s ease-in-out;
  &:hover {
  background: rgba(255, 255, 255,0.5);
    transform:rotateX(180deg);
    transform:rotateY(180deg);
    transition:all 0.4s ease-in-out;
    perspective: 800px;
    perspective-origin: 50% 100px;
  }
  &:active {
    
  }
  span:first-child {
  position: absolute;
  top: 0.75vh;
  right: 0.75vh;
  background: rgba(255, 255, 255,0.8);
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 2.5vh;
  }
} */
